@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  color: #e2e8f0;
}

#root {
  width: 100%;
  height: 100%;
}
